<div class="container">
<h1>Add a new talent</h1>

<%= show_svg('avatar_man.svg') %>

  <%= simple_form_for [@talent] do |f| %>
    <%= f.input :instrument %>
    <%= f.input :experience %>
    <%= f.input :price %>
    <%= f.submit "add a talent", class: "btn btn-primary" %>
  <% end %>
</div>
