
  <p><%= @talent.user.first_name %></p>
  <p><%= @talent.instrument %></p>
  <p>(3 stars)</p>
  <p><%= @talent.user.description %></p>
  <p><%= @talent.price %></p>
  <h1>Last events</h1>
  <p><% if @reservation.title? %>
    <%= @reservation.title %>
  <% else %>
  <%= "This person didn't join any past event" %>
   <% end %>
  </p>



<div>
  <h1>Booking</h1>
  <%= simple_form_for [@talent, @reservation] do |f| %>
    <div id="book-a-talent">
      <div class="row">
        <div class='col-sm-6 col-sm-offset-3'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker'>
              <%= f.input :appointment, label: false, placeholder: "Select the time and hours", class: "form-control" %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <%#= f.input :sono, as: :check_boxes, collection: ["I provide the sound material"] %>
          </div>
          <div class="form-group">
            <%= f.submit "Book", class: "btn btn-primary" %>
            <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
