<body>
<div class="top">

</div>
<div class="section-user">

  <section id="user">

    <section class="user-picture">
      <div class="image-of-talent">
        <%= cl_image_tag @talent.user.photo, :height=>500, :gravity=> "faces", crop: :fill %>
      </div>
      <div width="72px">
        <div class="avatar-talent">
          <%= show_svg('avatar_man.svg') %>
        </div>
      </div>
    </section>

    <section class="user-descritpion">
      <div class="name-instru-star">
        <h2><%= @talent.user.first_name %></h2>
        <p><%= @talent.instrument %></p>
        <p>⭐️⭐️⭐️</p>
      </div>
      <br>
      <p><strong><em><%= @talent.user.description %></strong></em></p>
      <br>
      <p><%= @talent.user.first_name %>'s rate:  <%= @talent.price %>€/h.</p>
      <br>
      <br>
      <h3>Last events</h3>
      <p>
        <% if @reservation.title? %>
        <strong><%= @reservation.title %></strong>
      <% else %>
        <%= @talent.user.first_name %> didn't join any past event
      <% end %>
      </p>
    </section>


    <section id="add-a-talent">
    <h2>Booking</h2>
    <div>
      <%= simple_form_for [@talent, @reservation] do |f| %>
        <%= f.input :location %>
        <%= f.input :title %>
        <%= f.input :begin_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: false, input_html: {id: "end-date", class: "datepicker"} %>
        <p id="total-price"></p>
        <p id="fees"></p>
        <p id="total-net"></p>
        <%= f.button :submit, "Book", class: "btn btn-primary" %>
        <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
      <% end %>
    </div>
    </section>
  </section>

</div>

</body>
