
  <p><%= @talent.user.first_name %></p>
  <p><%= @talent.instrument %></p>
  <p>(3 stars)</p>
  <p><%= @talent.user.description %></p>
  <p><%= @talent.price %></p>
  <h1>Last events</h1>
  <p><% if @reservation.title? %>
    <%= @reservation.title %>
  <% else %>
  <%= "This person didn't join any past event" %>
   <% end %>
  </p>


<p>Booking dates & hours</p>
<%= simple_form_for [@talent, @reservation] do |f| %>
  <%= f.input :duration %>
  <%#= f.input :sono, as: :check_boxes, collection: ["I provide the sound material"] %>
  <%= f.submit "Book", class: "btn btn-primary" %>
  <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>
<% end %>

