<div class="section-user">

<section id="user">

  <section class="user-picture"

    style="background-image: url('<%= cl_image_path @user.photo, crop: :fill %>')">
    <div width="72px">
      <%= show_svg('avatar_man.svg') %>

    </div>
      <div>
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p><%= @user.description %></p>
      </div>
  </section>

  <section class="user-descritpion">

    <h3>Instruments</h3>
      <% @user.talents.each do |talent| %>
      <%= link_to talent.instrument, talent_path(talent) %>


      <p> <%= talent.instrument %> <%= talent.price %> € </p>
      <% end %>
  </section>
</section>

<section id="add-a-talent">
  <%= link_to 'add a talent', new_talent_path %>
  <%= link_to "resas", index_client_reservations_path  %>
</section>
</div>
