<%= render 'shared/banner' %>



<div class="container">
  <h2> Popular musicians</h2>

    <div class="row">
    <!-- pour chaque user qui a au moins un talent on lui crée une card qui est située -->
      <% @talented_users.each do |talented_user| %>
        <div class="col-xs-6 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(254,199,97, 0.9), rgba(254,199,97,0.7)">
              <%= link_to "", talent_path(talented_user), class: "card-link" %>
                <div class="card-description">
                  <ul class= "card-talents">
                    <%= talented_user.first_name.upcase %>
                    <br>
                    <br>
                    <!-- pour chaque talent de user on crée un li -->
                    <% talented_user.talents.each do |talent| %>
                      <li>
                        <%= talent.instrument %> |
                        <%= talent.price %> €
                      </li>
                    <% end %>
                  </ul>
                </div>

              <div class="card-user-container">
                <%= cl_image_tag talented_user.photo, class: "card-user" %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>




