<div class="swing-container">
  <h1>My musicians</h1>
<div>
  <p><%= link_to "Back to my profile", new_talent_path %></p>
</div>

  <div class="tabs-over-to-come">
    <a href="#" class="tab">
      <p>Passed</p>
    </a>
    <a href="#" class="tab">
      <p>Futures</p>
    </a>
    <a href="#" class="tab active">
      <p>All</p>
    </a>
  </div>

  <ul class="musicians-container">
    <% @reservations.each do |reservation| %>
      <li class="musician">
          <img src="https://via.placeholder.com/60" alt="" class="booking-musician-avatar">
          <div class="resa-talent">
            <p><%= reservation.talent.instrument.upcase %></p>
          </div>
          <div class='resa-title'>
            <p><%= reservation.title %></p>
            <br><br>
          </div>
          <div class="resa-name">
            <p>Musician : <span><%= link_to reservation.talent_user.first_name %> <%= link_to reservation.talent_user.last_name %></span></p>
          </div>
          <div class="resa-date">
            <p>Du : <%= nice_date(reservation.begin_date) %></p>
            <p>Au : <%= nice_date(reservation.end_date) %></p>
          </div>
          <div class="status">
            <br><br>
            <p>Status : <%= reservation.status %></p>
          </div>
          <div class="price">
            <p>Coût total : <%= (reservation.total_price + reservation.fees).round %> €</p>
          </div>
          <div class="resa-details">
            <p><%= link_to "See details", reservation_path(reservation) %>
            <% if reservation.accepted? %>
              <span><%= link_to "See invoice" %></span>
            <% end %>
            </p>
          </div>
      </li>
    <% end %>

  </ul>
</div>



