<div class="table-booking">
  <h1>My bookings of musicians</h1>

  <div class="tabs over-to-come">
    <a href="#" class="tab active">To come</a>
    <a href="#" class="tab">Over</a>
  </div>

      <ul>
        <% @reservations.each do |reservation| %>
          <li>
            <img src="https://via.placeholder.com/60" alt="" class="resa-avatar">
            <div>
              <p><%= reservation.talent.instrument %></p>
            </div>
            <div>
              <p><%= reservation.talent_user.first_name %> <%= reservation.talent_user.last_name %></p>
            </div>
            <div>
              <p><%= reservation.begin_date %> - <%= reservation.end_date %></p>
            </div>
            <div class='resa-title'>
              <p><%= reservation.title %></p>
            </div>
            <div>
              <p><%= link_to "voir la facture" %></p>
            </div>
          </li>
        <% end %>

      </ul>
</div>



