<div class="table-booking">
  <h1>My bookings as talent</h1>

  <div class="tabs-over-to-come">
    <a href="#" class="tab">
      <p>Passed</p>
    </a>
    <a href="#" class="tab active">
      <p>Futures</p>
    </a>
  </div>

  <div>
    <%= link_to "add a talent", new_talent_path %>
  </div>

      <ul>
        <% @reservations.each do |reservation| %>
          <li>
            <div>
              <p><%= reservation.status %></p>
            </div>
            <img src="https://via.placeholder.com/60" alt="">
            <div>
              <p><%= reservation.client.first_name %> <%= reservation.client.last_name %></p>
            </div>
            <div>
              <p><%= reservation.talent.instrument %></p>
              <p><%= link_to "See details", reservation_path(reservation) %> </p>
            </div>
            <div>
              <p>Begin :<%= reservation.begin_date %></p>
              <p>End : <%= reservation.end_date %></p>
            </div>
            <div>
              <p><%= reservation.title %></p>
            </div>
            <div>
              <p>Gain : <%= (reservation.total_price - reservation.fees).round %> €</p>
            </div>
          </li>
        <% end %>

      </ul>
</div>


