<div class="table-booking">
  <h1>My bookings of musicians</h1>

  <div class="tabs-over-to-come">
    <a href="#" class="tab">
      <p>Passed</p>
    </a>
    <a href="#" class="tab active">
      <p>Futures</p>
    </a>
  </div>

      <ul class="musicians-container">
        <% @reservations.each do |reservation| %>
          <li class="card-resa-talents">
            <img src="https://via.placeholder.com/60" alt="">
            <div>
              <p><%= reservation.talent.instrument.upcase %></p>
            </div>
            <div>
              <p>Musician : <%= reservation.talent_user.first_name %> <%= reservation.talent_user.last_name %></p>
            </div>
            <div>
              <p>Begin :<%= reservation.begin_date %></p>
              <p>End : <%= reservation.end_date %></p>
            </div>
            <div class='resa-title'>
              <p><%= reservation.title %></p>
            </div>
            <div class="status">
              <p>Status : <%= reservation.status %></p>
            </div>
            <div>
              <p>Coût total : <%= (reservation.total_price + reservation.fees).round %> €</p>
            </div>
            <div>
              <%= link_to "See details", reservation_path(reservation) %>
            </div>
            <div>
              <% if reservation.accepted? %>
                <p><%= link_to "See invoice" %></p>
              <% end %>
            </div>
          </li>
        <% end %>

      </ul>
</div>



