<div class="resa-page">
  <div class="resa-left">

    <div>
      <div class="title">
        <h1>Reservation details</h1>
        <p>status : <%= @reservation.status %></p>
      </div>
      <p class="resa-talent">Music : <%= @reservation.talent.instrument %></p>
      <p class='resa-title'><%= @reservation.title %></p>
       <div class="resa-name">
        <p>Musician : <span><%= link_to reservation.talent_user.first_name %> <%= link_to reservation.talent_user.last_name %></span></p>
      </div>
        <p class="resa-date">Dates : <%= @reservation.begin_date %> | <%= @reservation.end_date %> </p>
      <div class="paiements">
        <p>Paiements :</p>
          <ul>
            <li>
              <p><%= @reservation.total_hours.round %>heures x <%= @reservation.talent.price %> € : <%= @reservation.total_price.round %> €</p>
              <p>Frais de service : <%= @reservation.fees.round %> € </p>
              <% if current_user == @reservation.talent_user %>
                <p>TOTAL : <%= (@reservation.total_price - @reservation.fees).round %> €</p>
              <% else %>
                <p>TOTAL : <%= (@reservation.total_price + @reservation.fees).round %> €</p>
              <% end %>
            </li>
          </ul>
        <p class='resa-title'>Infos pratiques du musicien: <%= @reservation.talent.infos %></p>
        <% if @user = @reservation.client && @reservation.accepted? %>
          <p><%= link_to "See invoice" %></p>
        <% end %>
        <% if @user = @reservation.client %>
          <p><%= link_to "Back to my reservations", index_client_reservations_path %></p>
        <% elsif @user = @reservation.talent_user %>
          <p><%= link_to "Back to my reservations", index_talent_reservations_path %></p>
        <% end %>
        <div>
          <% if current_user == @reservation.talent_user && @reservation.pending? %>
            <%= simple_form_for @reservation do |f| %>
              <%= f.input :status, collection: ["accepted", "declined"], placeholder: "accept or decline the booking" %>
              <%= f.submit "confirm" %>
            <% end %>
          <% end %>
        </div>
    </div>

    </div>
  </div>



  <div class="resa-right">
    <div class="musician resa-contact">
      <img src="https://via.placeholder.com/60" alt="" class="booking-musician-avatar">
      <div class="resa-name">
        <p><%= @user.first_name %> <%= @user.last_name %></p>
      </div>
      <div class="resa-description">
        <p><%= @user.description %></p>
      </div>
      <div class="resa-name">
        <p>Contact <%= @user.first_name %>: <%= @user.phone_number %></p>
      </div>
    </div>
  </div>

</div>

