<div class="resa-page">
  <div class="resa-left">

    <div>
      <div class="title">
        <h1 class="title-item">Reservation details</h1>
        <p class="title-item resa-status">Status : <%= @reservation.status %></p>
      </div>

      <br><br>
      <p class="resa-talent">INSTRUMENT : <%= @reservation.talent.instrument.upcase %></p>

      <p class="resa-title"><%= @reservation.title %></p>

       <div class="resa-name">
        <p>Musician : <span><%= link_to @reservation.talent_user.first_name %> <%= link_to @reservation.talent_user.last_name %></span></p>
      </div>

      <div class="resa-date">
        <p>Du <%= nice_date(@reservation.begin_date) %></p>
        <p>Au <%= nice_date(@reservation.end_date) %></p>
      </div>

      <div>
      <p class='resa-title'>Infos pratiques du musicien: <%= @reservation.talent.infos %></p>
      </div>

      <br>
      <p class="resa-date">Paiements :</p>
      <div class="paiements">
          <div class="paiements-lines">
              <p><%= @reservation.total_hours.round %>heures x <%= @reservation.talent.price %> € : </p>
              <p><%= @reservation.total_price.round %> €</p>
          </div>
          <div class="paiements-lines">
              <p>Frais de service : </p>
              <p><%= @reservation.fees.round %> €</p>
          </div>
          <div class="paiements-lines">
            <% if current_user == @reservation.talent_user %>
              <p>TOTAL : </p>
              <p><%= (@reservation.total_price - @reservation.fees).round %> €</p>
            <% else %>
              <p>TOTAL </p>
              <p>: <%= (@reservation.total_price + @reservation.fees).round %> €</p>
            <% end %>
          </div>
        </div>


        <% if @user = @reservation.client && @reservation.accepted? %>
          <p class="btn btn-primary"><%= link_to "See invoice" %></p>
        <% end %>
        <% if current_user == @reservation.client %>
          <p><%= link_to "Back to my musicians bookings", index_client_reservations_path %></p>
        <% elsif current_user == @reservation.talent_user %>
          <p><%= link_to "Back to my reservations as musician", index_talent_reservations_path %></p>
        <% end %>

        <% if current_user == @reservation.talent_user && @reservation.pending? %>
        <p class="resa-status">Accept or Decline this booking : </p>
        <div class="form-status resa-status" >
            <%= simple_form_for @reservation do |f| %>
                <%= f.input :status, collection: ["accepted", "declined"] %>
                <%= f.submit "confirm" %>
            <% end %>
        </div>
        <% end %>


      </div>

    </div>



  <div class="resa-right">
    <div class="musician resa-contact">
      <img src="https://via.placeholder.com/60" alt="" class="booking-musician-avatar">

        <% if current_user == @reservation.talent_user %>
          <div class="resa-name">
          <p><%= @reservation.client.first_name %> <%= @reservation.client.last_name %></p>
          </div>
          <div class="resa-description">
          <p><%= @reservation.client.description %></p>
        </div>
        <div class="resa-name">
          <p>Contact : <%= @reservation.client.phone_number %></p>
        </div>

      <% elsif current_user == @reservation.client %>
        <div class="resa-name">
        <p><%= @reservation.talent_user.first_name %> <%= @reservation.talent_user.last_name %></p>
        </div>
        <div class="resa-description">
        <p><%= @reservation.talent_user.description %></p>
        </div>
        <div class="resa-name">
         <p>Contact : <%= @reservation.talent_user.phone_number %></p>
        </div>

      <% end %>

    </div>
  </div>

</div>

